<div class="container-main-header">
    <div class="container">
        
        <div class="container-header">
            <div class="container-header__customer-info">
                <div class="container-header__container-icon">
                    <img src="https://staticw.s3.amazonaws.com/servicios/b20180417055912.png" alt="Sura">
                </div>
                <div class="container-header__company-name">
                    Sura
                </div>
            </div>
            <div class="container-header__customer-info">
                <div class="container-header__user-name">
                    Alejandromart
                </div>
                <div class="container-header__close">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>

    </div>
</div>