@import '../../styles/colors';
@import '../../styles/typografy';

.file{
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    position: relative;

    
    text-align: center;
}

.file.is-boxed .file-label {
    flex-direction: column;
}

.file-label {
    align-items: stretch;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

.file-icon{
    font-size: 22px;
}

.file-input {
    height: 100%;
    left: 0;
    opacity: 0;
    outline: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.file.is-boxed .file-cta {
    flex-direction: column;
    height: auto;
    padding: 1em 3em;
}

.file-cta {
    background-color: $dark-blue-color;
    color: #fff;
    font-family: Nunito, sans-serif;
}

.file.is-boxed.has-name .file-name {
    border-radius: 0 0 .375em .375em;
    border-width: 0 1px 1px;
}

.file-name{
    font-family: Nunito, sans-serif;
}