<div class="elements-container">
    <h3 class="title">
        {{info?.project?.description}} - <small>{{info?.campaign?.description}}</small>
    </h3>
    
    <div class="file-load-container" >
        <div class="upload-item">
            <app-upload-file></app-upload-file>
        </div>

        <div class="upload-item">
            <app-upload-file></app-upload-file>
        </div>

        <div class="button-item">
            <app-primary-button></app-primary-button>
        </div>
    </div>
</div>
