<div class="elements-container">
  <h3 class="title">
    {{ info?.project?.projectName }} -
    <small>{{ info?.campaign?.campaignName }}</small>
  </h3>

  <div class="file-load-container">
    <div class="container-uploads">
      <div class="upload-item">
        <app-upload-file
          [fileUpload]="configNotificationFile"
          (fileUploadEvent)="getFileNotification($event)"
        ></app-upload-file>
      </div>

      <div class="upload-item">
        <app-upload-file
          [fileUpload]="configDetailNotificationFile"
          (fileUploadEvent)="getFileDetailNotification($event)"
        ></app-upload-file>
      </div>
    </div>

    <div class="button-item">
      <app-primary-button (click)="uploadFiles()"></app-primary-button>
    </div>
  </div>
</div>
